/*
Custom styles go in here
 */

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    transition: opacity .3s ease;
}

.modal-body {
    margin: 10px 0;
}

.modal {
    display: contents !important;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-radius: var(--bs-border-radius) !important;
}

@media (min-width: 1400px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1520px;
    }
}
